@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html { 
    background: url(images/pattern-background-desktop.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    margin: 0;
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header"
                                            ". card ."
                                            "footer footer footer";


}

.container{
grid-area: card;
background-color: white;    
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;

}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    font-weight: bold;
    padding-top: 5%;
}

.listen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    padding: 1cm
    
}

.plan {
    display: flex;
  align-items: center;
  text-align: center;
  background: lightgray;
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
}

.music {
    margin: 100px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}