/* html { 
    background: url(images/pattern-background-desktop.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

html {
    height: 100%;
}

body {
    
    margin: 0;
    min-height:100% ;
    background : url(images/pattern-background-desktop.svg) fixed no-repeat;
    background-size: contain;
    background-color: rgb(216,228,252);
    font-family: roboto;
    display: flex;
    flex-direction: column;

}
.container {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 6rem;
    margin-inline: auto;
    margin-bottom: 6rem;
    width: min(90%, 600px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
  
}

.avatar {
   
   max-width: 100%;
   border-radius: 15px 15px 0 0;
}

.text-center {
    text-align: center;
}

.order {
    margin-inline: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 7vw, 3rem);
    font-weight: 500;
    
}


.listen {
    margin-top: 1.5rem;
    margin-inline: min(12%, 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.7rem, 4vw, 1.3rem ) ;
    line-height: 1.7rem;
    font-weight: 400;
    color: rgb(175, 175, 175);

}

.plan-button {
    
    display: flex;
    margin-top: 1.5rem;
    margin-inline: min(10%, 3rem);
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
    padding-inline: 1rem;
    padding-block: min(5%, 1rem);
    
}

.plan-button > * {
    width: 100%;
}

.music {
    max-width: 50%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.music-icon {
    max-width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    padding-left: 1rem;
    font-size: clamp(0.7rem, 4vw, 1.3rem ) ;
}

.plan-strong{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    font-weight: 700;
}

.rate {

    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.change {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.7rem, 4vw, 1.3rem ) ;
    color: blue;
    text-decoration: underline;
}

.payment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin-top: 1.5rem;
    margin-inline: min(10%, 3rem);
    font-size: clamp(0.7rem, 4vw, 1.3rem ) ;
    color: white;
    border-radius: 15px;
    padding-block: min(5%, 1rem);
    box-shadow: 0 8px 16px 0 rgb(92, 92, 255);
    
}

.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1.5rem;
    margin-inline: min(10%, 3rem);
    color: rgb(156, 156, 156);
    font-size: clamp(0.7rem, 4vw, 1.3rem ) ;
}

footer {
    margin-top: auto;
    text-align: center;
    font-size: clamp(0.8rem, 3vw, 1rem ) ;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
